<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
            integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            namespace = '/test';
            var socket = io(namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            // socket.on('connect', function () {
            //     socket.emit('my_event', {data: 'I\'m connected!'});
            // });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_delete_response', function (msg) {
                $('#log').append($('<div/>').text(msg.data).html());
                setTimeout(del, 3000);
            });

            function del() {
                $('.delete').remove();
            }

            $('form#broadcast').submit(function () {
                socket.emit('my_broadcast_event', {data: $('#id_note').val(), data2: $('#note').val()});
                var frm = document.getElementsByName('broadcast')[0];
                frm.reset();  // Reset all form data
                return false;
            });
            $('form#delete_note').submit(function () {
                socket.emit('my_delete_note', {data: $('#id_note_delete').val()});
                var frm = document.getElementsByName('delete_note')[0];
                frm.reset();  // Reset all form data
                return false;
            });
        });
    </script>
</head>
<body>
<h2>Send:</h2>
<form name="broadcast" id="broadcast" method="POST" action="#">
    ID: <input type="text" name="id_note" id="id_note" placeholder="Id"><br>
    Note: <input type="text" name="note" id="note" placeholder="Заметка"><br>
    <input type="submit" value="Сохранить" onclick="submitForm()">
</form>
<form action="/view" method="POST">
    View note:<br>
    <input type="text" name="id"><br>
    <input type="submit" value="Посмотреть"/>
</form>
<form action="/view_all" method="POST">
    View all notes:<br>
    <input type="submit" value="Посмотреть все"/>
</form>
<form name="delete_note" id="delete_note" action="#" method="POST">
    Delete note <br>
    ID: <input type="text" name="id_note" id="id_note_delete"><br>
    <input value="Delete" type="submit" placeholder="Удалить"/>
    <p class="delete" id="log"></p>
</form>
</body>
</html>

